:root {
  --color: #333;
}

.main_banner {
  text-align: left;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://127.0.0.1:8001/storage/enterprises/images/Mx3G8nfWSqDTz5iq6GPEfBv9AwtF14qW6wJQxrIU.jpg") fixed center;
}

.main_banner h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--branco) !important;
  filter: brightness(100%);
  max-width: 10ch;
  padding-top: 40px;
  padding-right: 0;
  margin-right: 0;
}

.main_banner p {
  max-width: 70ch;
  line-height: 1.5;
  padding: 1em;
  color: var(--branco) !important;
  filter: brightness(100%);
}

.main_banner h6 {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  color: var(--branco) !important;
  filter: brightness(100%);
}

.list-post-item {
  position: relative;
  display: block;
  min-height: 50vh;
  padding: 0.5rem 1rem;
  color: var(--branco) !important;
  text-decoration: none;
  background-color: var(--preto) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.recent-posts .list-post-item {
  position: relative;
  display: block;
  min-height: 1vh;
  padding: 0.5rem 1rem;
  color: var(--branco) !important;
  text-decoration: none;
  background-color: var(--preto) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.img-thumbnail {
  padding: 0;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}

.tag {
  border-radius: 25px;
  background-color: var(--verde) !important;
}

.tag p {
  margin: 0 !important;
  color: var(--bs-body-color) !important;
  text-transform: uppercase;
  font-weight: bold;
}

.img-thumbnail {
  max-width: 100%;
  transition: all 0.3s;
}

.img-thumbnail:hover {
  transform: scale(1.1);
}

.list-post-item a:hover {
  text-decoration: none;
  color: var(--verde) !important;
}

.news h3 {
  font-weight: bold;
}

.form-control {
  color: var(--branco) !important;
}

.news {
  background-color: rgb(12, 12, 12);
}

.post_main_banner {
  text-align: left;
  color: var(--color);
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://127.0.0.1:8001/storage/enterprises/images/Mx3G8nfWSqDTz5iq6GPEfBv9AwtF14qW6wJQxrIU.jpg") fixed center;
  background-repeat: no-repeat !important;
}

.recent-posts hr {
  color: var(--verde) !important;
  height: 3px;
  width: 100%;
}

.list-post-recentes .img-thumbnail {
  width: 70px;
  height: 70px;
}

.recent-posts h5 {
  width: -webkit-fill-available !important;
}

.social-media {
  background-color: rgb(12, 12, 12);
  text-align: center;
}

.social-media hr {
  color: var(--verde) !important;
  height: 3px;
  width: 100%;
}

.btn_social {
  width: 100%;
  float: left;
  display: flex;
  margin: auto;
}

.btn_social ul {
  width: auto;
  margin: auto;
  float: left;
  display: block;
}

.btn_social ul li {
  position: relative;
  background: #555555;
  list-style: none;
  float: left;
  margin: 5px;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  font-size: 1.5em;
  text-align: center;
}

.btn_social ul li a {
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.btn_social ul li::before {
  transition: 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 90%;
  left: 0;
  background: #2fcacf;
  z-index: -1;
  transform: scale(1);
  transition: 0.4s;
}

.btn_social ul li:hover::before {
  transition: 0.4s;
  top: 0%;
}

.btn_social ul li a:hover {
  color: #555555;
}

.text-post img {
  max-width: 100%;
}
